<html>
    <body>
        <ul>
            <li>access_token: {{accessToken}}</li>
            <li>granted scope: {{grantedScope}}</li>
            <li>token_type: {{tokenType}}</li>
        </ul>

        <pre>{{userData}}</pre>
    </body>
</html>
